container_commands:
  10_installcertbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
  20_createwebrootpath:
    command: "sudo mkdir -p /var/www/acme-challenge/"  
  30_getcertwebrootmode:
    command: "sudo ./certbot-auto certonly --debug --non-interactive --email ${EMAIL} --agree-tos --authenticator webroot --webroot-path /var/www/acme-challenge --domains ${CERTDOMAIN} --keep-until-expiring --installer nginx --staging --break-my-certs"
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${CERTDOMAIN} /etc/letsencrypt/live/ebcert"
  70_reload_ngix:
    command: "sudo service nginx reload"
